src/main/resources/Templates/17.Создание-обновление-передача статуса клиентской заявки и Заказа на строительство/17.BO_0._-X-_.HRMSCRMOrderStatusService.WsdlInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cnt="urn:ru:rt:hrms:context"
                  xmlns:scc="urn:ru:rt:hrms:successresponse" xmlns:flt="urn:ru:rt:hrms:fault"
                  xmlns:mes="urn:ru:rt:hrms:crmorderstatusmessage" xmlns:tns="urn:ru:rt:hrms:crmorderstatusservice"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  targetNamespace="urn:ru:rt:hrms:crmorderstatusservice">
  <wsdl:types>
    <xs:schema targetNamespace="urn:ru:rt:hrms:crmorderstatusservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:ru:rt:hrms:crmorderstatusmessage"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/CRMOrderRequest?xsd=1"/>
      <xs:import namespace="urn:ru:rt:hrms:successresponse"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/CRMOrderRequest?xsd=2"/>
      <xs:import namespace="urn:ru:rt:hrms:fault"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/CRMOrderRequest?xsd=7"/>
      <xs:import namespace="urn:ru:rt:hrms:context"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/CRMOrderRequest?xsd=8"/>
    </xs:schema>
  </wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="message" element="flt:Fault"/>
	</wsdl:message>
	<wsdl:message name="Context">
		<wsdl:part name="context" element="cnt:Context"/>
	</wsdl:message>
	<wsdl:message name="SuccessResponse">
		<wsdl:part name="message" element="scc:Confirmation"/>
	</wsdl:message>
		<wsdl:message name="SuccessResponseBatch">
		<wsdl:part name="message" element="scc:SuccessResponseBatch"/>
	</wsdl:message>
	<wsdl:message name="SuccessResponseGetStage">
		<wsdl:part name="message" element="scc:SuccessResponseGetStage"/>
	</wsdl:message>
	<wsdl:message name="SuccessResponseSetStage">
		<wsdl:part name="message" element="scc:SuccessResponseSetStage"/>
	</wsdl:message>	
	<wsdl:message name="ManageCRMOrderStatusRequest">
		<wsdl:part name="message" element="mes:ManageCRMOrderStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="ManageBatchOrderStatusRequest">
		<wsdl:part name="message" element="mes:ManageBatchOrderStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCRMOrderStageRequest">
		<wsdl:part name="message" element="mes:GetCRMOrderStageRequest"/>
	</wsdl:message>
	<wsdl:message name="SetCRMOrderStageRequest">
		<wsdl:part name="message" element="mes:SetCRMOrderStageRequest"/>
	</wsdl:message>
	<wsdl:portType name="HRMSPortType">
		<wsdl:operation name="ManageCRMOrderStatus">
			<wsdl:input name="ManageCRMOrderStatusIn" message="tns:ManageCRMOrderStatusRequest"/>
			<wsdl:output message="tns:SuccessResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="ManageBatchOrderStatus">
			<wsdl:input name="ManageBatchOrderStatusIn" message="tns:ManageBatchOrderStatusRequest"/>
			<wsdl:output message="tns:SuccessResponseBatch"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="GetCRMOrderStage">
			<wsdl:input name="GetCRMOrderStageIn" message="tns:GetCRMOrderStageRequest"/>
			<wsdl:output message="tns:SuccessResponseGetStage"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="SetCRMOrderStage">
			<wsdl:input name="SetCRMOrderStageIn" message="tns:SetCRMOrderStageRequest"/>
			<wsdl:output message="tns:SuccessResponseSetStage"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HRMSBinding" type="tns:HRMSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ManageCRMOrderStatus">
			<wsdl:documentation>Создание/обновление и передача статуса клиентской заявки</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:crmorderstatusservice:ManageCRMOrderStatus"/>
			<wsdl:input name="ManageCRMOrderStatusIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ManageBatchOrderStatus">
			<wsdl:documentation>Создание/обновление услуг по пакету адресов для клиентской заявки</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:crmorderstatusservice:ManageBatchOrderStatus"/>
			<wsdl:input name="ManageBatchOrderStatusIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCRMOrderStage">
			<wsdl:documentation>Получение списка переходов для клиентской заявки</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:crmorderstatusservice:GetCRMOrderStage"/>
			<wsdl:input name="GetCRMOrderStageIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SetCRMOrderStage">
			<wsdl:documentation>Переход для клиентской заявки</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:crmorderstatusservice:SetCRMOrderStage"/>
			<wsdl:input name="SetCRMOrderStageIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HRMSService">
		<wsdl:port name="HRMSInterface" binding="tns:HRMSBinding">
			<soap:address location="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/CRMOrderRequest"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>