src/main/resources/Templates/14.Интерфейс Передача оплаты по договору/14.BO_0._R12_.ContractPayment.WsdlInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cnt="urn:ru:rt:hrms:context" xmlns:scc="urn:ru:rt:hrms:successresponse" xmlns:flt="urn:ru:rt:hrms:fault" xmlns:mes="urn:ru:rt:hrms:contractpaymentmessage" xmlns:tns="urn:ru:rt:hrms:contractpaymentservice" targetNamespace="urn:ru:rt:hrms:contractpaymentservice">
	<wsdl:types>
    <xs:schema targetNamespace="urn:ru:rt:hrms:dictionaryservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:ru:rt:hrms:dictionarymessage"
                 schemaLocation="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ContractPaymentRequest?xsd=1"/>
      <xs:import namespace="urn:ru:rt:hrms:successresponse"
                 schemaLocation="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ContractPaymentRequest?xsd=2"/>
      <xs:import namespace="urn:ru:rt:hrms:fault"
                 schemaLocation="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ContractPaymentRequest?xsd=3"/>
      <xs:import namespace="urn:ru:rt:hrms:context"
                 schemaLocation="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ContractPaymentRequest?xsd=4"/>
    </xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="message" element="flt:Fault"/>
	</wsdl:message>
	<wsdl:message name="Context">
		<wsdl:part name="context" element="cnt:Context"/>
	</wsdl:message>
	<wsdl:message name="SuccessResponse">
		<wsdl:part name="message" element="scc:SuccessResponse"/>
	</wsdl:message>
	<wsdl:message name="ManageContractPaymentRequest">
		<wsdl:part name="message" element="mes:ManageContractPaymentRequest"/>
	</wsdl:message>
	<wsdl:portType name="HRMSPortType">
		<wsdl:operation name="ManageContractPayment">
			<wsdl:input name="ManageContractPaymentIn" message="tns:ManageContractPaymentRequest"/>
			<wsdl:output message="tns:SuccessResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HRMSBinding" type="tns:HRMSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ManageContractPayment">
			<wsdl:documentation>Передача оплаты по договору</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:contractpaymentservice:ManageContractPayment"/>
			<wsdl:input name="ManageContractPaymentIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HRMSService">
		<wsdl:port name="HRMSInterface" binding="tns:HRMSBinding">
			<soap:address location="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ContractPaymentRequest"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>