src/main/resources/Templates/8.Взаимодействие REST-API  с Гермес/8.BO_86._GET.HRMS_.HTTP_Post_SRV_REST.MessageXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HTTP_Get_SRV">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="xsd:string" name="Id_Adderss" minOccurs="0"/>
        <xsd:element type="xsd:string" name="Queue_Id" minOccurs="0"/>
        <xsd:element type="xsd:string" name="Str_Adderss" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute type="xsd:string" name="type"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>