src/main/resources/Templates/12.Получение подтверждений из R12 ( Направление было ACK )/12.BO_0._R12_.ConfirmationOutR12.WsdlXSD1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ru:rt:hrms:confirmationmessageoutr12"
           xmlns:cnf="urn:ru:rt:hrms:confirmation" targetNamespace="urn:ru:rt:hrms:confirmationmessageoutr12">
  <xs:import namespace="urn:ru:rt:hrms:confirmation" schemaLocation="https://10.32.245.8:7002/HermesSOAPService/SOAPServlet/ConfirmationOutR12Request?xsd=5"/>
  <!-- СКЛАД-ПОСТУПЛЕНИЯ-->
  <xs:element name="ConfirmManageArrivalOnProductRequest" type="tns:ConfirmManageArrivalOnProductRequest"/>
  <xs:element name="ConfirmManageArrivalByPersonRequest" type="tns:ConfirmManageArrivalByPersonRequest"/>
  <xs:complexType name="ConfirmManageArrivalOnProductRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Операция оприходования готовой продукции»</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DetailConfirmation" type="cnf:tDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageArrivalByPersonRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Возврат от физ. лица»</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DetailConfirmation" type="cnf:tDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ДОГОВОРНОЙ УЧЕТ-->
  <xs:element name="ConfirmManageOrderRequest" type="tns:ConfirmManageOrderRequest"/>
  <xs:complexType name="ConfirmManageOrderRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи создания/корректировки заказа (ДС ОФУ)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Confirmation" type="cnf:tConfirmation">
        <xs:annotation>
          <xs:documentation>Подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- УЧЕТ АКТОВ ВЫПОЛНЕННЫХ РАБОТ (КРЕДИТОРЫ)-->
  <xs:element name="ConfirmManageInvoiceRequest" type="tns:ConfirmManageInvoiceRequest"/>
  <xs:complexType name="ConfirmManageInvoiceRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи актов на выполнение работ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Confirmation" type="cnf:tConfirmation">
        <xs:annotation>
          <xs:documentation>Подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ВОЗВРАТ ОБОРУДОВАНИЯ ИЗ АРЕНДЫ-->
  <xs:element name="ConfirmManageCancellationRequest" type="tns:ConfirmManageCancellationRequest"/>
  <xs:complexType name="ConfirmManageCancellationRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения полного/частичного списания ОС для операций возврата из аренды оконечного
                        оборудования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DetailConfirmation" type="cnf:tDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ПЕРЕМЕЩЕНИЕ, СПИСАНИЯ НА СКЛАДЕ-->
  <xs:element name="ConfirmManageExtCancellationDocMOLRequest" type="tns:ConfirmManageExtCancellationDocMOLRequest"/>
  <xs:element name="ConfirmManageMaterialExtCancellationDocRequest"
              type="tns:ConfirmManageMaterialExtCancellationDocRequest"/>
  <xs:element name="ConfirmManageDispositionExtCancellationDocRequest"
              type="tns:ConfirmManageDispositionExtCancellationDocRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocProjectRequest"
              type="tns:ConfirmManageExtCancellationDocProjectRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocTransferAgentRequest"
              type="tns:ConfirmManageExtCancellationDocTransferAgentRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocReturnFromAgentRequest"
              type="tns:ConfirmManageExtCancellationDocReturnFromAgentRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocReturnFromContractorRequest"
              type="tns:ConfirmManageExtCancellationDocReturnFromContractorRequest"/>
  <xs:element name="ConfirmCPEManageExtCancellationDocDeliveryInProjectRequest"
              type="tns:ConfirmCPEManageExtCancellationDocDeliveryInProjectRequest"/>
  <xs:element name="ConfirmNCManageExtCancellationDocDeliveryInProjectRequest"
              type="tns:ConfirmNCManageExtCancellationDocDeliveryInProjectRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocSaleRequest" type="tns:ConfirmManageExtCancellationDocSaleRequest"/>
  <xs:element name="ConfirmManageExtCancellationDocDeliveryInOnMFPRequest"
              type="tns:ConfirmManageExtCancellationDocDeliveryInOnMFPRequest"/>
  <xs:complexType name="ConfirmManageExtCancellationDocMOLRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Перемещения между Складскими подразделениями/МОЛами»
                        (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageMaterialExtCancellationDocRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Списания материалов в производство» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageDispositionExtCancellationDocRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Утилизация» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocProjectRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Перемещения между проектами» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocTransferAgentRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Передача агенту» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocReturnFromAgentRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Возврат оборудования от агента» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocReturnFromContractorRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Возврат от подрядчика» (процесс NC)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmCPEManageExtCancellationDocDeliveryInProjectRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Выдача оборудования в проекты» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmNCManageExtCancellationDocDeliveryInProjectRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Выдача оборудования в проекты» (процесс NC)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocSaleRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операций «Продажа абоненту» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmManageExtCancellationDocDeliveryInOnMFPRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения операций «Выдача по МФП» (процесс CPE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetailConfirmation" type="cnf:tCancelDocDetailConfirmation">
        <xs:annotation>
          <xs:documentation>Детализированное подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ПРОЕКТЫ-->
  <xs:element name="ConfirmManageProjectTaskRequest" type="tns:ConfirmManageProjectTaskRequest"/>
  <xs:complexType name="ConfirmManageProjectTaskRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи задач с типом Актив</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProjectTaskConfirmation" type="cnf:tProjectTaskConfirmation">
        <xs:annotation>
          <xs:documentation>Подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmManageInputOrderRequest" type="tns:ConfirmManageInputOrderRequest"/>
  <xs:complexType name="ConfirmManageInputOrderRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операции Создание карточек приказов о вводе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InputOrderConfirmation" type="cnf:tInputOrderConfirmation">
        <xs:annotation>
          <xs:documentation>Подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmManageProjectAssetsRequest" type="tns:ConfirmManageProjectAssetsRequest"/>
  <xs:complexType name="ConfirmManageProjectAssetsRequest">
    <xs:annotation>
      <xs:documentation>Запрос подтверждения передачи операции Создание карточек проектных активов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssetsConfirmation" type="cnf:tAssetsConfirmation">
        <xs:annotation>
          <xs:documentation>Подтверждение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>