src/main/resources/Templates/12.Получение подтверждений из R12 ( Направление было ACK )/12.BO_0._R12_.ConfirmationOutR12.WsdlXSD5.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ru:rt:hrms:confirmation"
           targetNamespace="urn:ru:rt:hrms:confirmation">
  <xs:complexType name="tConfirmation">
    <xs:annotation>
      <xs:documentation>Подтверждение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tDetailConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по операциям поступления, возврата из аренды, перемещения
                        загруженным из R12</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailList" type="tns:tDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Detail" type="tns:tDetail" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tDetail">
    <xs:sequence>
      <xs:element name="TransId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор транзакции R12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LineNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер строки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tCancelDocDetailConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по опрециям перемещения, загруженным в R12</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelDocDetailList" type="tns:tCancelDocDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tCancelDocDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDocDetail" type="tns:tCancelDocDetail" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tCancelDocDetail">
    <xs:sequence>
      <xs:element name="DocNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LineNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер строки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelDocNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер акта на списание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelDocLineNum" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер строки акта на списание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tProjectTaskConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по операциям создания задачи с типом Актив</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProjectTaskDetailList" type="tns:tProjectTaskDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tProjectTaskDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProjectTaskDetail" type="tns:tProjectTaskDetail" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tProjectTaskDetail">
    <xs:sequence>
      <xs:element name="DocId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор сводного акта или объекта строительства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaskId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор задачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tInputOrderConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по операциям Создание карточек приказов о вводе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InputOrderDetailList" type="tns:tInputOrderDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tInputOrderDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InputOrderDetail" type="tns:tInputOrderDetail" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tInputOrderDetail">
    <xs:sequence>
      <xs:element name="SourceOrderId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор приказа на стороне источника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationOrderId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор приказа на стороне получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tAssetsConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по операциям Создание карточек проектных активов и Стоимость
                        активов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssetsDetailList" type="tns:tAssetsDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tAssetsDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssetsDetail" type="tns:tAssetsDetail" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tAssetsDetail">
    <xs:sequence>
      <xs:element name="ObjectCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Внешний код объекта созданной задачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssetNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер созданного проектного актива</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tContractDicDetailConfirmation">
    <xs:annotation>
      <xs:documentation>Детализированное подтверждение по операци передачи справочникаРасходные рамочные договоры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Код результата (0 - успех, иначе код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractDicDetailList" type="tns:tContractDicDetailList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Детализация ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tContractDicDetailList">
    <xs:annotation>
      <xs:documentation>Детализация ошибок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractDicDetail" type="tns:tContractDicDetail" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание детализации ошибок</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tContractDicDetail">
    <xs:sequence>
      <xs:element name="DocHeaderId" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор договора R12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код результата (код ошибки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Message" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>