src/main/resources/Templates/19.Интерфейс взаимодействия с ОРПОН прием-передача-запрос адресных элементов/19.BO_0._-X-_.EAK_ws_PutAddressElement.WsdlInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.informatica.com/dis/ws/ws_"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Dummy"
                  targetNamespace="http://www.informatica.com/dis/ws/ws_">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.informatica.com/dis/ws/ws_" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                targetNamespace="http://www.informatica.com/dis/ws/ws_" elementFormDefault="qualified">
      <xsd:element name="PutAddressElement">
        <xsd:annotation>
          <xsd:documentation>Элемент "Группа адресов"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Address" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Элемент "Адрес" (множ-ный, обяз-ный)</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="AddrElement" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Элемент "Адресный элемент" (множ-ный, необяз-ный)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="GlobalID" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Глобальный уникальный идентификатор адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="TypeID" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>ИД типа адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Level" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Уровень адресного элемента в иерархии адреса</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ParentId" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Ссылка на GlobalId родительского адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ParentLevel" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Уровень родительского элемента в общей структуре адреса</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PostalCode" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Почтовый индекс</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="OKATO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OKTMO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="KLADRCode" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CreateDate" type="xsd:dateTime"/>
                        <xsd:element name="LastUpdateDate" type="xsd:dateTime"/>
                        <xsd:element name="ActualStatus" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Статус актуальности элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="TimeZone" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Часовой пояс адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="AdditionalParent" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="AdditionalParentID" type="xsd:string"/>
                              <xsd:element name="AdditionalParentLevel" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="House" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Элемент "Дом"</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="GlobalID" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Глобальный уникальный идентификатор дома (адреса в ЕАК)</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PostalCode" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Почтовый индекс</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="EstateType" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Признак владения</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ParentId" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Ссылка на GlobalId родительского адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ParentLevel" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Уровень родительского элемента в общей структуре адреса</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="HouseNumber" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Номер Дома</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="HousingNumber" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Корпус</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="BuildingNumber" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Номер строения</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="BuildingType" type="xsd:string" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation>Признак строения</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="OKATO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OKTMO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CreateDate" type="xsd:dateTime"/>
                        <xsd:element name="LastUpdateDate" type="xsd:dateTime"/>
                        <xsd:element name="ActualStatus" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Статус актуальности дома (адреса)</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="AdditionalParent" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="AdditionalParentID" type="xsd:string"/>
                              <xsd:element name="AdditionalParentLevel" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="AddressCategory" type="xsd:string"/>
                        <xsd:element name="Synonyms" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="HouseGlobalID" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Landmark" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Элемент "Место расположения"</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="GlobalID" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Глобальный уникальный идентификатор местоположения (адреса в ЕАК)</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Location" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ParentId" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Ссылка на GlobalId родительского адресного элемента</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ParentLevel" type="xsd:string">
                          <xsd:annotation>
                            <xsd:documentation>Уровень родительского элемента в общей структуре адреса</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="OKATO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OKTMO" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CreateDate" type="xsd:dateTime"/>
                        <xsd:element name="LastUpdateDate" type="xsd:dateTime"/>
                        <xsd:element name="ActualStatus" type="xsd:string"/>
                        <xsd:element name="AdditionalParent" minOccurs="0" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="AdditionalParentID" type="xsd:string"/>
                              <xsd:element name="AdditionalParentLevel" type="xsd:string"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="AddressCategory" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressListResponse">
        <xsd:annotation>
          <xsd:documentation>Элемент "Ответ веб-сервиса"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
              <xsd:element name="ResultCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Код результата обращения к веб-сервису (0 - успешно, 1 - ошибка)</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ResultMessage" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Сообщение о статусе обращения к веб-сервису</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddrElementErrorGroup" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>Элемент "Ошибка передачи адресного элемента"</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlobalID" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Глобальный уникальный идентификатор адресного элемента</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="AddrElementLevel" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Уровень адресного элемента. Атрибут обязательный, т.к. каждый адр.элемент идентифицируется по паре Global_ID,Level</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LocalID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SystemCode" type="xsd:string"/>
                    <xsd:element name="ErrorCode" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Код ошибки</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0">
                      <xsd:annotation>
                        <xsd:documentation>Описание ошибки</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LocalIDGroup" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>Элемент "Данные локального идентификатора"</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="GlobalID" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Глобальный уникальный идентификатор адресного элемента</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="AddrElementLevel" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Уровень адр.элемента</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SystemCode" type="xsd:string"/>
                    <xsd:element name="LocalID" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ErrorField" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Наименование поля содержащее некорректные данные</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddressGroup">
    <wsdl:part name="parameter" element="tns:PutAddressElement"/>
  </wsdl:message>
  <wsdl:message name="AddressGroupResponse">
    <wsdl:part name="parameter" element="tns:AddressListResponse"/>
  </wsdl:message>
  <wsdl:message name="FaultMessage">
    <wsdl:part name="parameter" element="tns:ErrorField"/>
  </wsdl:message>
  <wsdl:portType name="ws_PutAddrElementPortType">
    <wsdl:operation name="PutAddressElement">
      <wsdl:documentation>Метод передачи адресных элементов</wsdl:documentation>
      <wsdl:input name="PutAddrElement_Input" message="tns:AddressGroup"></wsdl:input>
      <wsdl:output name="PutAddrElement_Output" message="tns:AddressGroupResponse"></wsdl:output>
      <wsdl:fault name="PutAddrElement_Fault" message="tns:FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_PutAddrElementBinding" type="tns:ws_PutAddrElementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PutAddressElement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="PutAddrElement_Input">
        <soap:body parts="parameter" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PutAddrElement_Output">
        <soap:body parts="parameter" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PutAddrElement_Fault">
        <soap:fault name="PutAddrElement_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_PutAddressElement">
    <wsdl:documentation>Сервис передачи адресных элементов</wsdl:documentation>
    <wsdl:port name="ws_PutAddressElement" binding="tns:ws_PutAddrElementBinding">
      <soap:address location="http://10.32.245.8:7001/HermesSOAPService/SOAPServlet/ws_PutAddressElement"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>