src/main/resources/Templates/11.Интерфейс проектов/11.BO_0._R12_.Project.WsdlInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cnt="urn:ru:rt:hrms:context" xmlns:scc="urn:ru:rt:hrms:successresponse" xmlns:flt="urn:ru:rt:hrms:fault" xmlns:mes="urn:ru:rt:hrms:assetscostmessage" xmlns:tns="urn:ru:rt:hrms:assetscostservice" targetNamespace="urn:ru:rt:hrms:assetscostservice">
	<wsdl:types>
		<xs:schema targetNamespace="urn:ru:rt:hrms:assetscostservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="urn:ru:rt:hrms:assetscostmessage" schemaLocation="https://10.32.245.2:7002/HermesSOAPService/SOAPServlet/ActiveCostRequest?xsd=1"/>
			<xs:import namespace="urn:ru:rt:hrms:successresponse" schemaLocation="https://10.32.245.2:7002/HermesSOAPService/SOAPServlet/ActiveCostRequest?xsd=2"/>
			<xs:import namespace="urn:ru:rt:hrms:fault" schemaLocation="https://10.32.245.2:7002/HermesSOAPService/SOAPServlet/ActiveCostRequest?xsd=3"/>
			<xs:import namespace="urn:ru:rt:hrms:context" schemaLocation="https://10.32.245.2:7002/HermesSOAPService/SOAPServlet/ActiveCostRequest?xsd=4"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="message" element="flt:Fault"/>
	</wsdl:message>
	<wsdl:message name="Context">
		<wsdl:part name="context" element="cnt:Context"/>
	</wsdl:message>
	<wsdl:message name="SuccessResponse">
		<wsdl:part name="message" element="scc:SuccessResponse"/>
	</wsdl:message>
	<wsdl:message name="ManageAssetsCostRequest">
		<wsdl:part name="message" element="mes:ManageAssetsCostRequest"/>
	</wsdl:message>
	<wsdl:portType name="HRMSPortType">
		<wsdl:operation name="ManageAssetsCost">
			<wsdl:input name="ManageAssetsCostIn" message="tns:ManageAssetsCostRequest"/>
			<wsdl:output message="tns:SuccessResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HRMSBinding" type="tns:HRMSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ManageAssetsCost">
			<wsdl:documentation>Передача стоимости актива</wsdl:documentation>
			<soap:operation soapAction="urn:ru:rt:hrms:assetscostservice:ManageAssetsCost"/>
			<wsdl:input name="ManageAssetsCostIn">
				<soap:header message="tns:Context" part="context" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HRMSService">
		<wsdl:port name="HRMSInterface" binding="tns:HRMSBinding">
			<soap:address location="https://10.32.245.2:7002/HermesSOAPService/SOAPServlet/ActiveCostRequest"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>