src/main/resources/Templates/1.Интерфейс справочников/1.BO_0._R12_.Dictionary.WsdlInterface.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cnt="urn:ru:rt:hrms:context"
                  xmlns:scc="urn:ru:rt:hrms:successresponse" xmlns:flt="urn:ru:rt:hrms:fault"
                  xmlns:mes="urn:ru:rt:hrms:dictionarymessage" xmlns:tns="urn:ru:rt:hrms:dictionaryservice"
                  targetNamespace="urn:ru:rt:hrms:dictionaryservice">
  <wsdl:types>
    <xs:schema targetNamespace="urn:ru:rt:hrms:dictionaryservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:ru:rt:hrms:dictionarymessage"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest?xsd=1"/>
      <xs:import namespace="urn:ru:rt:hrms:successresponse"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest?xsd=2"/>
      <xs:import namespace="urn:ru:rt:hrms:fault"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest?xsd=3"/>
      <xs:import namespace="urn:ru:rt:hrms:context"
                 schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest?xsd=4"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Fault">
    <wsdl:part name="message" element="flt:Fault"/>
  </wsdl:message>
  <wsdl:message name="Context">
    <wsdl:part name="context" element="cnt:Context"/>
  </wsdl:message>
  <wsdl:message name="SuccessResponse">
    <wsdl:part name="message" element="scc:SuccessResponse"/>
  </wsdl:message>
  <wsdl:message name="ManageUnitsDicRequest">
    <wsdl:part name="message" element="mes:ManageUnitsDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageInventoryItemDicRequest">
    <wsdl:part name="message" element="mes:ManageInventoryItemDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageVendorDicRequest">
    <wsdl:part name="message" element="mes:ManageVendorDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageEmployeeDicRequest">
    <wsdl:part name="message" element="mes:ManageEmployeeDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageProjectDicRequest">
    <wsdl:part name="message" element="mes:ManageProjectDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageTaskDicRequest">
    <wsdl:part name="message" element="mes:ManageTaskDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageLauncherDicRequest">
    <wsdl:part name="message" element="mes:ManageLauncherDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageTOUDicRequest">
    <wsdl:part name="message" element="mes:ManageTOUDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageOrgDicRequest">
    <wsdl:part name="message" element="mes:ManageOrgDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageOperTypeDicRequest">
    <wsdl:part name="message" element="mes:ManageOperTypeDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageOrganizationsDicRequest">
    <wsdl:part name="message" element="mes:ManageOrganizationsDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageSegmentAccountDicRequest">
    <wsdl:part name="message" element="mes:ManageSegmentAccountDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageSegmentCFODicRequest">
    <wsdl:part name="message" element="mes:ManageSegmentCFODicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManagePreciousMetalsDicRequest">
    <wsdl:part name="message" element="mes:ManagePreciousMetalsDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageCostsTypeDicRequest">
    <wsdl:part name="message" element="mes:ManageCostsTypeDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageArrivalTypeDicRequest">
    <wsdl:part name="message" element="mes:ManageArrivalTypeDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageContractDicRequest">
    <wsdl:part name="message" element="mes:ManageContractDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageContactsDicRequest">
    <wsdl:part name="message" element="mes:ManageContactsDicRequest"/>
  </wsdl:message>
  <wsdl:message name="ManageLicensesDicRequest">
    <wsdl:part name="message" element="mes:ManageLicensesDicRequest"/>
  </wsdl:message>
  <wsdl:portType name="HRMSPortType">
    <wsdl:operation name="ManageUnitsDic">
      <wsdl:input name="ManageUnitsDicIn" message="tns:ManageUnitsDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageInventoryItemDic">
      <wsdl:input name="ManageInventoryItemDicIn" message="tns:ManageInventoryItemDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageVendorDic">
      <wsdl:input name="ManageVendorDicIn" message="tns:ManageVendorDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageEmployeeDic">
      <wsdl:input name="ManageEmployeeDicIn" message="tns:ManageEmployeeDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageProjectDic">
      <wsdl:input name="ManageProjectDicIn" message="tns:ManageProjectDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageTaskDic">
      <wsdl:input name="ManageTaskDicIn" message="tns:ManageTaskDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageLauncherDic">
      <wsdl:input name="ManageLauncherDicIn" message="tns:ManageLauncherDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageTOUDic">
      <wsdl:input name="ManageTOUDicIn" message="tns:ManageTOUDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageOrgDic">
      <wsdl:input name="ManageOrgDicIn" message="tns:ManageOrgDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageOperTypeDic">
      <wsdl:input name="ManageOperTypeDicIn" message="tns:ManageOperTypeDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageOrganizationsDic">
      <wsdl:input name="ManageOrganizationsDicIn" message="tns:ManageOrganizationsDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageSegmentAccountDic">
      <wsdl:input name="ManageSegmentAccountDicIn" message="tns:ManageSegmentAccountDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageSegmentCFODic">
      <wsdl:input name="ManageSegmentCFODicIn" message="tns:ManageSegmentCFODicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManagePreciousMetalsDic">
      <wsdl:input name="ManagePreciousMetalsDicIn" message="tns:ManagePreciousMetalsDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageCostsTypeDic">
      <wsdl:input name="ManageCostsTypeDicIn" message="tns:ManageCostsTypeDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageArrivalTypeDic">
      <wsdl:input name="ManageArrivalTypeDicIn" message="tns:ManageArrivalTypeDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageContractDic">
      <wsdl:input name="ManageContractDicIn" message="tns:ManageContractDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageContactsDic">
      <wsdl:input name="ManageContactsDicIn" message="tns:ManageContactsDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ManageLicensesDic">
      <wsdl:input name="ManageLicensesDicIn" message="tns:ManageLicensesDicRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
      <wsdl:fault name="Fault" message="tns:Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HRMSBinding" type="tns:HRMSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ManageUnitsDic">
      <wsdl:documentation>Синхронизация справочника ЕИ</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageUnitsDic"/>
      <wsdl:input name="ManageUnitsDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageInventoryItemDic">
      <wsdl:documentation>Синхронизация справочника Позиции</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageInventoryItemDic"/>
      <wsdl:input name="ManageInventoryItemDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageVendorDic">
      <wsdl:documentation>Синхронизация справочника Контрагенты</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageVendorDic"/>
      <wsdl:input name="ManageVendorDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageEmployeeDic">
      <wsdl:documentation>Синхронизация справочника Сотрудники</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageEmployeeDic"/>
      <wsdl:input name="ManageEmployeeDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageProjectDic">
      <wsdl:documentation>Синхронизация справочника Проекты</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageProjectDic"/>
      <wsdl:input name="ManageProjectDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageTaskDic">
      <wsdl:documentation>Синхронизация справочника Задачи</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageTaskDic"/>
      <wsdl:input name="ManageTaskDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageLauncherDic">
      <wsdl:documentation>Синхронизация справочника Пусковые очереди</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageLauncherDic"/>
      <wsdl:input name="ManageLauncherDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageTOUDic">
      <wsdl:documentation>Синхронизация справочника Коды ТОУ</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageTOUDic"/>
      <wsdl:input name="ManageTOUDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageOrgDic">
      <wsdl:documentation>Синхронизация справочника Операционные единицы</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageOrgDic"/>
      <wsdl:input name="ManageOrgDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageOperTypeDic">
      <wsdl:documentation>Синхронизация справочника Типы операций</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageOperTypeDic"/>
      <wsdl:input name="ManageOperTypeDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageOrganizationsDic">
      <wsdl:documentation>Синхронизация справочника Организации</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageOrganizationsDic"/>
      <wsdl:input name="ManageOrganizationsDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageSegmentAccountDic">
      <wsdl:documentation>Синхронизация справочника Расходные счета – сегмент счет</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageSegmentAccountDic"/>
      <wsdl:input name="ManageSegmentAccountDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageSegmentCFODic">
      <wsdl:documentation>Синхронизация справочника Расходные счета – сегмент ЦФО</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageSegmentCFODic"/>
      <wsdl:input name="ManageSegmentCFODicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManagePreciousMetalsDic">
      <wsdl:documentation>Синхронизация справочника Драгоценные металлы</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManagePreciousMetalsDic"/>
      <wsdl:input name="ManagePreciousMetalsDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageCostsTypeDic">
      <wsdl:documentation>Синхронизация справочника Виды затрат</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageCostsTypeDic"/>
      <wsdl:input name="ManageCostsTypeDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageArrivalTypeDic">
      <wsdl:documentation>Синхронизация справочника Виды поступлений</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageArrivalTypeDic"/>
      <wsdl:input name="ManageArrivalTypeDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageContractDic">
      <wsdl:documentation>Синхронизация справочника Расходные рамочные договоры</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageContractDic"/>
      <wsdl:input name="ManageContractDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageContactsDic">
      <wsdl:documentation>Синхронизация справочника Контакты контрагентов</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageContactsDic"/>
      <wsdl:input name="ManageContactsDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManageLicensesDic">
      <wsdl:documentation>Синхронизация справочника Лицензии контрагентов</wsdl:documentation>
      <soap:operation soapAction="urn:ru:rt:hrms:dictionaryservice:ManageLicensesDic"/>
      <wsdl:input name="ManageLicensesDicIn">
        <soap:header message="tns:Context" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRMSService">
    <wsdl:port name="HRMSInterface" binding="tns:HRMSBinding">
      <soap:address location="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>