src/main/resources/Templates/1.Интерфейс справочников/1.BO_44._R12_.ManageContractDicRequest.MessageXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--C:\_HERMES_\R12_integration\wsdl ФЕИП - СУС v.3.8.7 - 09.12.2019\WLS_XSD\DictionaryMessage.MessageXSD.HE-5718.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:simpleType name="tStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ManageContractDicRequest" type="tManageContractDicRequest"/>
	<xs:complexType name="tManageContractDicRequest">
		<xs:annotation>
			<xs:documentation>Запрос синхронизации справочника Расходные рамочные договоры</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractList" type="tContractList">
				<xs:annotation>
					<xs:documentation>Список расходных рамочных договоров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--СПРАВОЧНИК РАСХОДНЫЕ РАМОЧНЫЕ ДОГОВОРЫ-->
	<xs:complexType name="tContractList">
		<xs:annotation>
			<xs:documentation>Список расходных рамочных договоров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Contract" type="tContract" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание расходного рамочного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tContract">
		<xs:annotation>
			<xs:documentation>Описание расходного рамочного договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FrameContractId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Внутренний номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtFrameContractNum" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор контрагента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorSiteId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор отделения контрагента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата Договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Операционная единица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalContract" type="xs:string">
				<xs:annotation>
					<xs:documentation>Глобальный договор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssigmentsList" type="tAssigmentsList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список участников договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="tStatus">
				<xs:annotation>
					<xs:documentation>Статус события</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код региона ФЕИП действия рамочного договора (для двойных филиалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Limit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Лимит договора – стоимость работ, заложенная в рамочный договор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата начала действия договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Срок действия ПО рамочного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isECM" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Признак работы с ЭДО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Balance" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Остаток средств на рамочном договоре в рублях без НДС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractSpecificsList" type="tContractSpecificsList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список Спецификация договора</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
	<!-- Список участников договора-->
	<xs:complexType name="tAssigmentsList">
		<xs:annotation>
			<xs:documentation>Список участников договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Assigments" type="tAssigments" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Участники договора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAssigments">
		<xs:annotation>
			<xs:documentation>Участники договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PurchasingOrgId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Закупочная организация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Для закупок / оплат</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
		<!-- Список Спецификация договора-->
	<xs:complexType name="tContractSpecificsList">
		<xs:annotation>
			<xs:documentation>Список Спецификация договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractSpecifics" type="tContractSpecifics" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Строка спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tContractSpecifics">
		<xs:annotation>
			<xs:documentation>Описание Строки спецификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtLineId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNum" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Номер строки Код НП (номенклатурной позиции)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Код НП (номенклатурной позиции)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Цена за единицу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Кол-во по строке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rate" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ставка НДС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineAmount" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Сумма строки (с НДС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvProject" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Инвест. проект</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Task" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Задача</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenditureType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип расходов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEquipment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Новое оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImpEquipment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Импортное оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isMark" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ЗИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorPosition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Позиция поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackageUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ЕИ комплекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Article" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecificsReserve" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле Спецификации-1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна происхождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegCountry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна регистрации производителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionsList" type="tRegionsList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перечень географических регионов (уровня субъекта РФ или района или города), на территории которых действует цена для вида работы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtLineCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний код строки, содержит составной уникальный ключ строки спецификации из Гермес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtObject" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний код объекта – код клиентской заявки Гермес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список регионов-->
	<xs:complexType name="tRegionsList">
		<xs:annotation>
			<xs:documentation>Перечень географических регионов (уровня субъекта РФ или района или города), на территории которых действует цена для вида работы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Region" type="tRegion" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регион (уровня субъекта РФ или района или города)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Регион-->
	<xs:complexType name="tRegion">
		<xs:annotation>
			<xs:documentation>Регион (уровня субъекта РФ или района или города)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GUID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный код адресообразующего элемента согласно ФЕИП - GUID (Globally Unique Identifier) - шестнадцатибайтовый (128-битный) глобальный уникальный идентификатор </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="nillableInt">
		<xs:union memberTypes="xs:integer emptyIntString"/>
	</xs:simpleType>
	<xs:simpleType name="nillableDecimal">
		<xs:union memberTypes="xs:decimal emptyIntString"/>
	</xs:simpleType>

	<xs:simpleType name="emptyIntString">
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
