src/main/resources/Templates/1.Интерфейс справочников/1.BO_0._R12_.Dictionary.WsdlXSD1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ru:rt:hrms:dictionarymessage"
           xmlns:dic="urn:ru:rt:hrms:dictionary" targetNamespace="urn:ru:rt:hrms:dictionarymessage">
  <xs:import namespace="urn:ru:rt:hrms:dictionary"
             schemaLocation="http://10.242.9.70:7001/HermesSOAPService/SOAPServlet/DictionaryRequest?xsd=5"/>
  <xs:element name="ManageUnitsDicRequest" type="tns:ManageUnitsDicRequest"/>
  <xs:element name="ManageInventoryItemDicRequest" type="tns:ManageInventoryItemDicRequest"/>
  <xs:element name="ManageVendorDicRequest" type="tns:ManageVendorDicRequest"/>
  <xs:element name="ManageEmployeeDicRequest" type="tns:ManageEmployeeDicRequest"/>
  <xs:element name="ManageProjectDicRequest" type="tns:ManageProjectDicRequest"/>
  <xs:element name="ManageTaskDicRequest" type="tns:ManageTaskDicRequest"/>
  <xs:element name="ManageLauncherDicRequest" type="tns:ManageLauncherDicRequest"/>
  <xs:element name="ManageTOUDicRequest" type="tns:ManageTOUDicRequest"/>
  <xs:element name="ManageOrgDicRequest" type="tns:ManageOrgDicRequest"/>
  <xs:element name="ManageOperTypeDicRequest" type="tns:ManageOperTypeDicRequest"/>
  <xs:element name="ManageOrganizationsDicRequest" type="tns:ManageOrganizationsDicRequest"/>
  <xs:element name="ManageSegmentAccountDicRequest" type="tns:ManageSegmentAccountDicRequest"/>
  <xs:element name="ManageSegmentCFODicRequest" type="tns:ManageSegmentCFODicRequest"/>
  <xs:element name="ManagePreciousMetalsDicRequest" type="tns:ManagePreciousMetalsDicRequest"/>
  <xs:element name="ManageCostsTypeDicRequest" type="tns:ManageCostsTypeDicRequest"/>
  <xs:element name="ManageArrivalTypeDicRequest" type="tns:ManageArrivalTypeDicRequest"/>
  <xs:element name="ManageContractDicRequest" type="tns:ManageContractDicRequest"/>
  <xs:element name="ManageContactsDicRequest" type="tns:ManageContactsDicRequest"/>
  <xs:element name="ManageLicensesDicRequest" type="tns:ManageLicensesDicRequest"/>
  <xs:complexType name="ManageUnitsDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника ЕИ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnitsList" type="dic:tUnitsList">
        <xs:annotation>
          <xs:documentation>Список справочников ЕИ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageInventoryItemDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Позиции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InventoryItemList" type="dic:tInventoryItemList">
        <xs:annotation>
          <xs:documentation>Список справочников Позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageVendorDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Контрагенты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VendorList" type="dic:tVendorList">
        <xs:annotation>
          <xs:documentation>Список справочников Контрагенты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageEmployeeDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Сотрудники</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EmployeeList" type="dic:tEmployeeList">
        <xs:annotation>
          <xs:documentation>Список справочников Сотрудники</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageProjectDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Проекты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProjectList" type="dic:tProjectList">
        <xs:annotation>
          <xs:documentation>Список справочников Проекты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageTaskDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Задачи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaskList" type="dic:tTaskList">
        <xs:annotation>
          <xs:documentation>Список справочников Задачи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageLauncherDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Пусковые очереди</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LauncherList" type="dic:tLauncherList">
        <xs:annotation>
          <xs:documentation>Список справочников Пусковые очереди</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageTOUDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Коды ТОУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TOUList" type="dic:tTOUList">
        <xs:annotation>
          <xs:documentation>Список справочников Коды ТОУ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageOrgDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Операционные единицы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OperUnitList" type="dic:tOperUnitList">
        <xs:annotation>
          <xs:documentation>Список справочников Операционные единицы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageOperTypeDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Типы операций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OperTypeList" type="dic:tOperTypeList">
        <xs:annotation>
          <xs:documentation>Список справочников Типы операций</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageOrganizationsDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Организаций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationsList" type="dic:tOrganizationsList">
        <xs:annotation>
          <xs:documentation>Список справочников Организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageSegmentAccountDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Расходные счета – сегмент счет</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SegmentAccountList" type="dic:tSegmentAccountList">
        <xs:annotation>
          <xs:documentation>Список справочников Расходные счета – сегмент счет</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageSegmentCFODicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Расходные счета – сегмент ЦФО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SegmentCFOList" type="dic:tSegmentCFOList">
        <xs:annotation>
          <xs:documentation>Список справочников Расходные счета – сегмент ЦФО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManagePreciousMetalsDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Драгоценные металлы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PreciousMetalsList" type="dic:tPreciousMetalsList">
        <xs:annotation>
          <xs:documentation>Список справочников Драгоценные металлы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageCostsTypeDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Виды затрат</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CostsArrivalTypeList" type="dic:tCostsArrivalTypeList">
        <xs:annotation>
          <xs:documentation>Список справочников Виды затрат и поступлений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageArrivalTypeDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочник Виды затрат</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CostsArrivalTypeList" type="dic:tCostsArrivalTypeList">
        <xs:annotation>
          <xs:documentation>Список справочников Виды затрат и поступлений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageContractDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Расходные рамочные договоры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractList" type="dic:tContractList">
        <xs:annotation>
          <xs:documentation>Список расходных рамочных договоров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageContactsDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Контакты контрагентов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContactsList" type="dic:tContactsList">
        <xs:annotation>
          <xs:documentation>Список контактов контрагента</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageLicensesDicRequest">
    <xs:annotation>
      <xs:documentation>Запрос синхронизации справочника Лицензии контрагентов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LicensesList" type="dic:tLicensesList">
        <xs:annotation>
          <xs:documentation>Список лицензий контрагента</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>