src/main/resources/Templates/1.Интерфейс справочников/1.BO_71._R12_.ManageNotFrameContractDicRequest.MessageXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
<xs:element name="ManageNotFrameContractDicRequest" type="tManageNotFrameContractDicRequest"/>
	<xs:complexType name="tManageNotFrameContractDicRequest">
		<xs:annotation>
			<xs:documentation>Запрос синхронизации справочника Расходные не рамочные договоры и ДС ОФУ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NotFrameContractList" type="tNotFrameContractList">
				<xs:annotation>
					<xs:documentation>Список не рамочных договоров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--СПРАВОЧНИК РАСХОДНЫЕ НЕ РАМОЧНЫЕ ДОГОВОРЫ и ДС ОФУ-->
	<xs:complexType name="tNotFrameContractList">
		<xs:annotation>
			<xs:documentation>Список не рамочных договоров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NotFrameContract" type="tNotFrameContract" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание не рамочного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tNotFrameContract">
		<xs:annotation>
			<xs:documentation>Описание не рамочного договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SysContractNum" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Системный номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtSysId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtFrameContractNum" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntNum" type="xs:string">
				<xs:annotation>
					<xs:documentation>Внутренний номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocTypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractFlag" type="xs:string">
				<xs:annotation>
					<xs:documentation>Признак глобального договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrameContractId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер рамочного договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор операционной единицы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDate" type="nillableDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заключения договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="tStatus">
				<xs:annotation>
					<xs:documentation>Статус события</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор контрагента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorSiteId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор отделения контрагента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reserve1" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле Договора-1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartiesList" type="tPartiesList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список сторон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CycleList" type="tCycleList">
				<xs:annotation>
					<xs:documentation>Список этапов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="nillableDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия договора – Дата с</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="nillableDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия договора – Дата по</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractSpecificsList" type="tContractSpecificsList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список Спецификация договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentList" type="tAttachmentList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список Вложений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isConsolidated" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Флаг «Консолидированный»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocECM" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заказ подписан в ЭДО. Если имеется ЭЦП со стороны Контрагента и Ростелеком, то указывается наименование платформы ЭДО: SMART.ZAKUPKI – заказ подписан через платформу Умные закупки (smart.zakupki.rt.ru); ESED – заказ подписан через платформу ЕСЭД (esed.rt.ru) или 
без значения, если заказ не подписан с использованием ЭДО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список сторон-->
	<xs:complexType name="tPartiesList">
		<xs:annotation>
			<xs:documentation>Список сторон</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parties" type="tParties" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание сторон</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tParties">
		<xs:annotation>
			<xs:documentation>Описание сторон</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyName" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя стороны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отделение стороны</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список этапов-->
	<xs:complexType name="tCycleList">
		<xs:annotation>
			<xs:documentation>Список этапов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cycle" type="tCycle" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание этапа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tCycle">
		<xs:annotation>
			<xs:documentation>Описание этапа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CycleId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор этапа R12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CycleName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Название Этапа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата начала действия этапа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата окончания действия этапа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxRate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ставка налога</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtCycleId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageList" type="tStageList">
				<xs:annotation>
					<xs:documentation>Список действий</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CycleReserve" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле Этапа-1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список действий-->
	<xs:complexType name="tStageList">
		<xs:annotation>
			<xs:documentation>Список этапов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Stage" type="tStage" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание действия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tStage">
		<xs:annotation>
			<xs:documentation>Описание действия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtStageId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SusStageId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор действия поставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageOrgId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор операционной единицы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanedDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Плановая дата исполнения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectId" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Идентификатор проекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaskId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор задачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountNoNds" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Сумма поставки без НДС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountNds" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Сумма поставки  с НДС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenditureType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип расходов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isIntegration" type="xs:string">
				<xs:annotation>
					<xs:documentation>Признак: интеграционный</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageReserve" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле Действия-1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список Спецификация договора-->
	<xs:complexType name="tContractSpecificsList">
		<xs:annotation>
			<xs:documentation>Список Спецификация договора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractSpecifics" type="tContractSpecifics" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Строка спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tContractSpecifics">
		<xs:annotation>
			<xs:documentation>Описание Строки спецификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtLineId" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNum" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Номер строки Код НП (номенклатурной позиции)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Код НП (номенклатурной позиции)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Цена за единицу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Кол-во по строке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rate" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ставка НДС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineAmount" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Сумма строки (с НДС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvProject" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Инвест. проект</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Task" type="nillableInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Задача</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpenditureType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип расходов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEquipment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Новое оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImpEquipment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Импортное оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isMark" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ЗИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorPosition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Позиция поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackageUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ЕИ комплекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Article" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecificsReserve" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле Спецификации-1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна происхождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegCountry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна регистрации производителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Список вложений-->
	<xs:complexType name="tAttachmentList">
		<xs:annotation>
			<xs:documentation>Список вложений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Attachment" type="tAttachment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание списка вложений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAttachment">
		<xs:annotation>
			<xs:documentation>Описание списка вложений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtAttachmentId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Внешний идентификатор вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Barcode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Баркод. Код, соответствующий вложению в АПД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>Категория вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="nillableInt">
		<xs:union memberTypes="xs:integer emptyIntString"/>
	</xs:simpleType>
	<xs:simpleType name="emptyIntString">
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nillableDate">
		<xs:union memberTypes="xs:dateTime emptyString"/>
	</xs:simpleType>
	<xs:simpleType name="emptyString">
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStatus">
		<xs:annotation>
			<xs:documentation>Статус события</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Активировать значение на стороне приемнике</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Деактивировать значение на стороне приемнике</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>