src/main/resources/Templates/24.WSDL_OMS_submitOrder/24.BO_0._-X-_.OMS_submitOrder.WsdlInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 1.12 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://oms.rt.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oms="http://oms.rt.ru/" targetNamespace="http://oms.rt.ru/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://oms.rt.ru/">
			<xsd:include schemaLocation="http://msgbus:7001/HermesSOAPService/SOAPServlet/OMSWebService?xsd=1"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="message" element="oms:Fault"/>
	</wsdl:message>
	<wsdl:message name="submitOrderRequest">
		<wsdl:part name="parameters" element="oms:submitOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="submitOrderResponse">
		<wsdl:part name="parameters" element="oms:submitOrderResponse"/>
	</wsdl:message>
	<wsdl:message name="cancelOrderRequest">
		<wsdl:part name="parameters" element="oms:cancelOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="cancelOrderResponse">
		<wsdl:part name="parameters" element="oms:cancelOrderResponse"/>
	</wsdl:message>
	<wsdl:message name="amendOrderRequest">
		<wsdl:part name="parameters" element="oms:amendOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="amendOrderResponse">
		<wsdl:part name="parameters" element="oms:amendOrderResponse"/>
	</wsdl:message>
	<wsdl:message name="queryOrderRequest">
		<wsdl:part name="parameters" element="oms:queryOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="queryOrderResponse">
		<wsdl:part name="parameters" element="oms:queryOrderResponse"/>
	</wsdl:message>
	<wsdl:portType name="OMSWebService">
		<wsdl:operation name="submitOrder">
			<wsdl:input name="submitOrderRequest" message="tns:submitOrderRequest"/>
			<wsdl:output name="submitOrderResponse" message="tns:submitOrderResponse"/>
			<wsdl:fault name="DataFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelOrder">
			<wsdl:input name="cancelOrderRequest" message="tns:cancelOrderRequest"/>
			<wsdl:output name="cancelOrderResponse" message="tns:cancelOrderResponse"/>
			<wsdl:fault name="DataFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="amendOrder">
			<wsdl:input name="amendOrderRequest" message="tns:amendOrderRequest"/>
			<wsdl:output name="amendOrderResponse" message="tns:amendOrderResponse"/>
			<wsdl:fault name="DataFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="queryOrder">
			<wsdl:input name="queryOrderRequest" message="tns:queryOrderRequest"/>
			<wsdl:output name="queryOrderResponse" message="tns:queryOrderResponse"/>
			<wsdl:fault name="DataFault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OMSWebServiceSoapBinding" type="tns:OMSWebService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="submitOrder">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="submitOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="submitOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataFault">
				<soap:fault name="DataFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelOrder">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="cancelOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataFault">
				<soap:fault name="DataFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="amendOrder">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="amendOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="amendOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataFault">
				<soap:fault name="DataFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryOrder">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="queryOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="queryOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DataFault">
				<soap:fault name="DataFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OMSWebService">
		<wsdl:port name="OMSWebServicePort" binding="tns:OMSWebServiceSoapBinding">
			<soap:address location="http://msgbus:7001/HermesSOAPService/SOAPServlet/OMSWebService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>