src/main/resources/Templates/24.WSDL_OMS_submitOrder/24.BO_0._-X-_.OMS_submitOrder.WsdlXSD1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://oms.rt.ru/" xmlns:attr="http://oms.rt.ru/" targetNamespace="http://oms.rt.ru/" elementFormDefault="unqualified" version="1.27">
	<!--	<xs:include schemaLocation="RTAPI_v01.xsd"/>
	<xs:include schemaLocation="attributes.xsd"/>-->
	<xs:element name="submitOrderRequest" type="tns:SubmitOrderRequest"/>
	<!-- Начать выполнение заказа -->
	<xs:element name="submitOrderResponse" type="tns:SubmitOrderResponse"/>
	<xs:complexType name="SubmitOrderRequest">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат заказа -->
			<xs:element name="callbackEndpoint" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- callback URL для отправки нотификации по статусам и результата выполнения -->
			<xs:element name="mode" type="tns:OrderMode" minOccurs="0" maxOccurs="1"/>
			<!-- Режим обработки (синхронный, асинхронный) -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:SubmitRequestOrder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubmitOrderResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник результатов обработки заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат результатов обработки заказа -->
			<xs:element name="orderResult" type="tns:OrderResult" minOccurs="0" maxOccurs="1"/>
			<!-- Результат обработки заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:SubmitResponseOrder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cancelOrderRequest" type="tns:CancelOrderRequest"/>
	<!-- Отменить выполнение заказа -->
	<xs:element name="cancelOrderResponse" type="tns:CancelOrderResponse"/>
	<xs:complexType name="CancelOrderRequest">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:CancelRequestOrder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelOrderResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник результатов обработки заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат результатов обработки заказа -->
			<xs:element name="orderResult" type="tns:OrderResult" minOccurs="1" maxOccurs="1"/>
			<!-- Результат обработки заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:CancelResponseOrder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="amendOrderRequest" type="tns:AmendOrderRequest"/>
	<xs:element name="amendOrderResponse" type="tns:AmendOrderResponse"/>
	<xs:complexType name="AmendOrderRequest">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:AmendRequestOrder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmendOrderResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник результатов обработки заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат результатов обработки заказа -->
			<xs:element name="orderResult" type="tns:OrderResult" minOccurs="1" maxOccurs="1"/>
			<!-- Результат обработки заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:AmendResponseOrder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="queryOrderRequest" type="tns:QueryOrderRequest"/>
	<!-- Получить текущий статус обработки заказа -->
	<xs:element name="queryOrderResponse" type="tns:QueryOrderResponse"/>
	<xs:complexType name="QueryOrderRequest">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:QueryRequestOrder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryOrderResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник результатов обработки заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат результатов обработки заказа -->
			<xs:element name="orderResult" type="tns:OrderResult" minOccurs="1" maxOccurs="1"/>
			<!-- Результат обработки заказа -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="tns:QueryResponseOrder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:simpleType name="OrderAction"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUBMIT"/> 
			<xs:enumeration value="CANCEL"/> 
			<xs:enumeration value="QUERY"/> 
		</xs:restriction>
	</xs:simpleType> -->
	<!-- 1.10 Удалено -->
	<xs:simpleType name="OrderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRECHECK"/>
			<xs:enumeration value="CHECK"/>
			<xs:enumeration value="PREBUILD"/>
			<xs:enumeration value="ESTIMATE"/>
			<xs:enumeration value="QUALIFY"/>
			<xs:enumeration value="INVEST"/>
			<xs:enumeration value="BUILD"/>
			<xs:enumeration value="PREPROVIDE"/>
			<xs:enumeration value="PROVIDE"/>
			<xs:enumeration value="ACTIVATE"/>
			<xs:enumeration value="COMMIT"/>
			<xs:enumeration value="CANCEL"/>
			<!-- Экспресс-ПТВ -->
			<!-- Проверка технической возможности -->
			<!-- Проработка технической возможности -->
			<!-- Пересчет ТЭО по новым доходным параметрам -->
			<!-- Подготовка к строительно-монтажным работам -->
			<!-- Запрос на выделение инвестиций -->
			<!-- Организация технической возможности -->
			<!-- Подготовительные работы к подключению -->
			<!-- Подключение -->
			<!-- Активация -->
			<!-- Завершение подключения -->
			<!-- Отказ от подключения с освобождением всех ресурсов -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubmitRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderType" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Тип заказа согласно шагам бизнес-процессов управления услугами. Пример справочника см. tns:OrderType -->
			<xs:element name="orderParentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылка на родительский заказ -->
			<xs:element name="orderPriority" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<!-- Приоритет обработки заказа -->
			<xs:element name="orderChannel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Канал продаж -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Дата обращения клиента по коммерческому заказу -->
			<xs:element name="orderRequestedStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата начала обработки заказа -->
			<xs:element name="orderRequiredDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата исполнения заказа. Интерпретация параметра определяется бизнес-требованиями. -->
			<xs:element name="orderComments" type="tns:Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к заказу -->
			<xs:element name="orderLocation" type="tns:Location" minOccurs="0" maxOccurs="1"/>
			<!-- Адресная характеристика заказа -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="tns:RequestOrderItems" minOccurs="1" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
			<xs:element name="orderAppointmentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор наряда WFM для визита к клиенту -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="SubmitResponseOrder">
		<xs:choice>
			<xs:element name="response" type="tns:SyncSubmitResponseOrder" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acknowledgement" type="tns:AsyncSubmitResponseOrder" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SyncSubmitResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderState" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Статус заказа. Пример справочника см. tns:OrderState -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="tns:ResponseOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AsyncSubmitResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения обработки заказа -->
			<xs:element name="orderState" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Статус заказа. Пример справочника см. tns:OrderState -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CancelRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderReasonCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код причины отмены заказа -->
			<xs:element name="orderReasonText" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарий к отмене заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CancelResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderState" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Статус заказа. Пример справочника см. tns:OrderState -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="AmendmentCode">
		<xs:annotation>
			<xs:documentation>Тип изменения к исполняемому заказу</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDERITEMS">
				<xs:annotation>
					<xs:documentation>Изменения в составе и параметрах компонентов заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORDERATTRIBUTES">
				<xs:annotation>
					<xs:documentation>Изменения в параметрах заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GATEPASSED">
				<xs:annotation>
					<xs:documentation>Внешний процесс прошел точку синхронизации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORDERPARTY">
				<xs:annotation>
					<xs:documentation>Изменения в объекте заказа orderParty</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderComments" type="tns:Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к заказу -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Код типа изменения к заказу. Пример справочника см. tns:AmendmentCode -->
			<xs:element name="gateName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Кодовое имя пройденной точки синхронизации (в случае code=GATEPASSED) -->
			<xs:element name="orderItems" type="tns:RequestOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AmendResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderState" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Статус заказа. Пример справочника см. tns:OrderState -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="tns:QueryOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderState" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Статус заказа. Пример справочника см. tns:OrderState -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
			<xs:element name="orderExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения обработки заказа -->
			<xs:element name="orderNotifications" type="tns:OrderNotifications" minOccurs="0" maxOccurs="1"/>
			<!-- Оповещения по статусу заказа -->
			<xs:element name="orderParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="tns:ResponseOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
			<xs:element name="orderTasks" type="tns:ResponseOrderTasks" minOccurs="0" maxOccurs="1"/>
			<!-- Список задач заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RequestOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="tns:RequestOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemAction" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Требуемое действие над компонентом в рамках выполнения заказа. Пример справочника см. tns:OrderItemAction -->
			<xs:element name="orderItemActionReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код / текст причины для действия над компонентом -->
			<xs:element name="orderItemActionModifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Дополнительный код-модификатор действия, например, LIGHT или FULL для действия FINBLOCK -->
			<xs:element name="orderItemCategory" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Категория компонента заказа. Пример справлчника см. tns:OrderItemCategory -->
			<xs:element name="orderItemPriority" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<!-- Приоритет обработки компонента в рамках выполнения заказа -->
			<xs:element name="orderItemRequiredDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата исполнения действия над компонентом. Интерпретация параметра определяется бизнес-требованиями. -->
			<xs:element name="orderItemSpecification" type="tns:OrderItemSpecification" minOccurs="0" maxOccurs="1"/>
			<!-- Спецификация компонента заказа -->
			<xs:element name="orderItemLocation" type="tns:Location" minOccurs="0" maxOccurs="1"/>
			<!-- Адресная характеристика компонента заказа -->
			<xs:element name="orderItemComments" type="tns:Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к компоненту заказа -->
			<xs:element name="orderItemAttributes" type="tns:InheritableAttributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты компонента заказа -->
			<xs:element name="orderItemParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов компонента заказа - имеют преимущество над (переопределяют) объектами заказа -->
			<xs:element name="orderItemBillingInfo" type="tns:OrderItemBillingInfo" minOccurs="0" maxOccurs="1"/>
			<!-- Биллинговая информация по компоненту заказа -->
			<xs:element name="orderItemAppointmentRequired" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<!-- Признак необходимости выполнения работ по компоненту в рамках визита к клиенту -->
			<xs:element name="orderItemAppointmentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор наряда WFM для визита к клиенту, в рамках которого выполняется инсталляция услуги -->
			<xs:element name="orderItemReferences" type="tns:OIReferences" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылки на orderItemId связанных компонентов -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="tns:QueryOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemCategory" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Категория компонента заказа. Пример справлчника см. tns:OrderItemCategory -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ResponseOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="tns:ResponseOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа - из исходного заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemState" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Статус выполнения действия над компонентом заказа. Пример справочника см. tns:OrderItemState -->
			<xs:element name="orderItemSpecification" type="tns:OrderItemSpecification" minOccurs="0" maxOccurs="1"/>
			<!-- Спецификация компонента заказа -->
			<xs:element name="orderItemAttributes" type="tns:InheritableAttributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты компонента заказа -->
			<xs:element name="orderItemParties" type="tns:OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов компонента заказа - имеют преимущество над (переопределяют) объектами заказа -->
			<xs:element name="orderItemAction" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Требуемое действие над компонентом в рамках выполнения заказа. Пример справочника см. tns:OrderItemAction -->
			<xs:element name="orderItemResult" type="tns:OrderItemResult" minOccurs="0" maxOccurs="1"/>
			<!-- Результат выполнения действия над компонентом заказа -->
			<xs:element name="orderItemReferences" type="tns:OIReferences" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылки на orderItemId связанных компонентов -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderItemBillingInfo" mixed="true">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Информация для биллинга. Допускается использование сложных типов (xml со своей схемой) -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseOrderTasks">
		<xs:sequence>
			<xs:element name="orderTask" type="tns:ResponseOrderTask" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderTaskState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PLANNED"/>
			<xs:enumeration value="INPROGRESS"/>
			<xs:enumeration value="PENDING"/>
			<xs:enumeration value="COMPLETED"/>
			<xs:enumeration value="CANCELLED"/>
			<xs:enumeration value="ONHOLD"/>
			<!-- Задание создано, но выполнение задания не начато -->
			<!-- Задание выполняется -->
			<!-- Задание в ожидании внешнего события -->
			<!-- Задание выполнено -->
			<!-- Задание отменено -->
			<!-- Задание остановлено из-за ошибки и находится в ожидании решения проблемы -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResponseOrderTask">
		<xs:all>
			<xs:element name="orderTaskId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор задания -->
			<xs:element name="orderTaskName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Название задания -->
			<xs:element name="orderTaskGroupName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Название группы заданий -->
			<xs:element name="orderTaskStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическое время начала выполнения задания -->
			<xs:element name="orderTaskCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическое время завершения выполнения задания -->
			<xs:element name="orderTaskExpectedStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата начала выполнения задания -->
			<xs:element name="orderTaskExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения выполнения задания -->
			<xs:element name="orderTaskState" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Статус выполнения задачи заказа. Пример справочника см. tns:OrderTaskState -->
			<xs:element name="orderTaskComments" type="tns:Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к выполнению задачи заказа -->
			<xs:element name="orderTaskAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты задачи заказа -->
		</xs:all>
	</xs:complexType>
	<!--RTAPI_v01.xsd version="1.18" -->
	<xs:simpleType name="OrderMode">
		<xs:annotation>
			<xs:documentation>Режим взаимодействия с системой-источником запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASYNC">
				<xs:annotation>
					<xs:documentation>Асинхронный режим обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SYNC">
				<xs:annotation>
					<xs:documentation>Синхронный режим обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderCategory">
		<xs:annotation>
			<xs:documentation>Категория запроса по маркетинговому сегменту</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="B2C"/>
			<xs:enumeration value="KKFU"/>
			<xs:enumeration value="KKMU"/>
			<xs:enumeration value="KKRU"/>
			<xs:enumeration value="B2G"/>
			<xs:enumeration value="B2O"/>
			<xs:enumeration value="B2B">
				<xs:annotation>
					<xs:documentation>Корпоративный сегмент без детализации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXTENSION">
				<xs:annotation>
					<xs:documentation>Технологический заказ (развитие)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderState">
		<xs:annotation>
			<xs:documentation>Статус выполнения запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RECEIVED">
				<xs:annotation>
					<xs:documentation>Заказ получен, обработка не начата</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACKNOWLEDGED">
				<xs:annotation>
					<xs:documentation>Заказ получен, форматная проверка заказа проведена</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REJECTED">
				<xs:annotation>
					<xs:documentation>Заказ отвергнут по причине ошибок валидации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INPROGRESS">
				<xs:annotation>
					<xs:documentation>Заказ корректен и находится на выполнении</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMENDING">
				<xs:annotation>
					<xs:documentation>Получен запрос на изменение заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLING">
				<xs:annotation>
					<xs:documentation>Получен запрос на отмену заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLED">
				<xs:annotation>
					<xs:documentation>Заказ отменен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMPLETED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа успешно завершено, все компоненты заказа обработаны успешно</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAILED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа завершено неуспешно</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTIAL">
				<xs:annotation>
					<xs:documentation>Выполнение заказа завершено с успешной обработкой части заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POSTPONED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа приостановлено до получения сигнала о продолжении обработки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttributeStatus">
		<xs:annotation>
			<xs:documentation>Статус атрибута</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>Активное значение атрибута</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CE">
				<xs:annotation>
					<xs:documentation>Предыдущее (неактивное) значение атрибута</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Attributes">
		<xs:annotation>
			<xs:documentation>Список дополнительных атрибутов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attribute" type="tns:Attribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attribute" mixed="true">
		<xs:annotation>
			<xs:documentation>Атрибут</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Значение атрибута. Допускается использование сложных типов (xml со своей схемой, см. файл attributes.xsd)</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Имя атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="tns:AttributeStatus" default="AC">
			<xs:annotation>
				<xs:documentation>Статус атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isChanged" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Признак изменения атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OIReferences">
		<xs:sequence>
			<xs:element name="reference" type="tns:OIReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OIReference" mixed="true">
		<xs:annotation>
			<xs:documentation>Идентификатор (например, CFS_ID) связанного компонента</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Системное название именованной связи. По умолчанию используется название спецификации сервиса</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="specId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Идентификатор спецификации.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="status" type="tns:AttributeStatus" default="AC">
					<xs:annotation>
						<xs:documentation>Статус связи</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="isChanged" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Признак изменения связи при изменении услуги как часть заказа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="isUpdated" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Признак обновления значения связи в рамках одного коммерческого заказа (при переходе заказа от одного этапа к другому, либо между повторными вызовами этапа)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Comments">
		<xs:annotation>
			<xs:documentation>Список комментариев к запросу</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Комментарии к заказу. Допускается использование сложных типов (xml со своей схемой), либо элементы типа tns:Comment</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comment">
		<xs:annotation>
			<xs:documentation>Комментарий</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commenter" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Комментатор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текст комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="LocationCategory">
		<xs:annotation>
			<xs:documentation>Категория, определяющая набор атрибутов, описывающих адрес/местоположение</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="STRICT">
				<xs:annotation>
					<xs:documentation>Точный адрес</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GEO">
				<xs:annotation>
					<xs:documentation>Точные координаты адреса с указанием адресного элемента ориентира</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LANDMARK">
				<xs:annotation>
					<xs:documentation>Адресный элемент ориентира с указанием навигации до точного адреса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationRegister">
		<xs:annotation>
			<xs:documentation>Справочник справочников идентификаторов адресов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HERMES">
				<xs:annotation>
					<xs:documentation>Внутренний справочник СУС Гермес</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLADR">
				<xs:annotation>
					<xs:documentation>КЛАДР</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GID">
				<xs:annotation>
					<xs:documentation>ОРПОН</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NW_BIS_AIR">
				<xs:annotation>
					<xs:documentation>Справочник BIS в МРФ Северо-Запад</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vlg">
				<xs:annotation>
					<xs:documentation>Справочник в МРФ Волга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>Местоположение (адресная характеристика)</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="locationId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификатор адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationCategory" type="tns:LocationCategory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Категория адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationRegister" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Справочник идентификаторов адресного элемента. Пример значений см. tns:LocationRegister</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Атрибуты адресного элемента (улица, дом, строение, этаж, квартира и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderParties">
		<xs:annotation>
			<xs:documentation>Список связанных объектов, характеризующих запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="orderParty" type="tns:Party">
					<xs:annotation>
						<xs:documentation>Объекты, связанные с заказом.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="orderAttachment" type="tns:Attachment">
					<xs:annotation>
						<xs:documentation>Вложения, связанные с заказом.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PartyRole">
		<xs:annotation>
			<xs:documentation>Категория объекта, переданного с запросом</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLIENT">
				<xs:annotation>
					<xs:documentation>Клиент</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INITIATOR">
				<xs:annotation>
					<xs:documentation>Оператор системы-источника запроса, инициатор запроса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SALES">
				<xs:annotation>
					<xs:documentation>Менеджер отдела продаж, инициатор продажи</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACCOUNT">
				<xs:annotation>
					<xs:documentation>Счет клиента</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONTACT">
				<xs:annotation>
					<xs:documentation>Контактная информация</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WORKER">
				<xs:annotation>
					<xs:documentation>Исполнитель работ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KZ">
				<xs:annotation>
					<xs:documentation>Клиентская заявка в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KP">
				<xs:annotation>
					<xs:documentation>Клиентский проект в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SZ">
				<xs:annotation>
					<xs:documentation>Строительная заявка в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IP">
				<xs:annotation>
					<xs:documentation>Инвестиционный проект в R12</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOLUTION">
				<xs:annotation>
					<xs:documentation>Техническое решение в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESERVATION">
				<xs:annotation>
					<xs:documentation>Бронь линейных данных в СЛТУ под техническое решение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Связанный объект, дополняющий запрос</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="partyRole" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Справочник типов ролей. Пример значений см. tns:PartyRole</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="partyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="partyAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Attachment">
		<xs:annotation>
			<xs:documentation>Объект вложений, дополняющий запрос</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="attachmentRegister" type="xs:string" default="FTP" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип файлового хранилища. На 2020-06-16 допустимы значения: EHD, FTP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attachmentType" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип вложения из справочника мастер-системы управления вложением</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата загрузки вложения в систему управления вложениями</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Автор вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ссылка на файл на SFTP-сервере (если attachmnentRegister=FTP) либо идентификатор файла в ЕХД (если attachmnentRegister=EHD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="header" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Заголовок вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileExtension" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attachmentAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Result">
		<xs:all>
			<xs:element name="resultCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="resultText" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="NotificationResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Система - источник результатов обработки запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Система - адресат результатов обработки запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderNotifications">
		<xs:annotation>
			<xs:documentation>Список оповещений по выполнению запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderNotification" type="tns:OrderNotification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderNotification">
		<xs:annotation>
			<xs:documentation>Оповещение по выполнению запроса</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="notificationTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationText" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationAttributes" type="tns:Attributes" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderResult">
		<xs:annotation>
			<xs:documentation>Результат выполнения запроса</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="orderResultCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код результата обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderResultText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание результата обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="OrderItemAction">
		<xs:annotation>
			<xs:documentation>Действие над компонентом заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE">
				<xs:annotation>
					<xs:documentation>Создание</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHANGE">
				<xs:annotation>
					<xs:documentation>Изменение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CEASE">
				<xs:annotation>
					<xs:documentation>Отключение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUERY">
				<xs:annotation>
					<xs:documentation>Запрос статуса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUSPEND">
				<xs:annotation>
					<xs:documentation>Добровольная блокировка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESUME">
				<xs:annotation>
					<xs:documentation>Добровольная разблокировка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
					<xs:documentation>Действие не производится - компонент представлен для информационных целей</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REMOVE">
				<xs:annotation>
					<xs:documentation>Исключение компонента из заказа для операции изменения заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOVE">
				<xs:annotation>
					<xs:documentation>Перенос зависимого компонента на другой родительский компонент (при переезде, смене технологии и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FINBLOCK">
				<xs:annotation>
					<xs:documentation>Установка финансовой блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FINUNBLOCK">
				<xs:annotation>
					<xs:documentation>Снятие финансовой блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADMBLOCK">
				<xs:annotation>
					<xs:documentation>Установка административной блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADMUNBLOCK">
				<xs:annotation>
					<xs:documentation>Снятие административной блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderItemCategory">
		<xs:annotation>
			<xs:documentation>Категория компонента заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Product">
				<xs:annotation>
					<xs:documentation>Комплексная услуга, предоставляемая клиенту</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CFS">
				<xs:annotation>
					<xs:documentation>Атомарная услуга, предоставляемая клиенту</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRFS">
				<xs:annotation>
					<xs:documentation>Композитная ресурсная услуга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RFS">
				<xs:annotation>
					<xs:documentation>Ресурсная услуга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderItemState">
		<xs:annotation>
			<xs:documentation>Статус выполнения действия над компонентом в рамках выполнения заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INPROGRESS">
				<xs:annotation>
					<xs:documentation>Компонент в процессе обработки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PENDING">
				<xs:annotation>
					<xs:documentation>Компонент в ожидании внешнего события</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMPLETED">
				<xs:annotation>
					<xs:documentation>Компонент успешно обработан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLED">
				<xs:annotation>
					<xs:documentation>Компонент отменен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ONHOLD">
				<xs:annotation>
					<xs:documentation>Компонент остановлен из-за ошибки и находится в ожидании решения проблемы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InheritableAttributes">
		<xs:annotation>
			<xs:documentation>Список атрибутов, имеющих признак наследования по иерархии компонентов заказа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attribute" type="tns:InheritableAttribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AttributeRestriction">
		<xs:annotation>
			<xs:documentation>Ограничение имени атрибута</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="model">
				<xs:annotation>
					<xs:documentation>Атрибут определяется сервисной моделью</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dynamic">
				<xs:annotation>
					<xs:documentation>Атрибут не определяется сервисной моделью</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InheritableAttribute" mixed="true">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Значение атрибута. Допускается использование сложных типов (xml со своей схемой)</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Имя атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="restriction" type="tns:AttributeRestriction" default="model">
			<xs:annotation>
				<xs:documentation>Ограничение имени атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="tns:AttributeStatus" default="AC">
			<xs:annotation>
				<xs:documentation>Статус атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isChanged" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Признак изменения атрибута при изменении услуги как часть заказа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isUpdated" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Признак обновления значения атрибута в рамках одного коммерческого заказа (при переходе заказа от одного этапа к другому, либо между повторными вызовами этапа)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isInheritable" type="xs:string" default="false">
			<xs:annotation>
				<xs:documentation>Признак наследования значения атрибута дочерними компонентами заказа по отношению oredrItemParentId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrderItemResult">
		<xs:annotation>
			<xs:documentation>Результат выполнения действия над компонентом заказа</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="orderItemResultCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код результата обработки компонента заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderItemResultText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание результата обработки компонента заказ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderItemSpecification">
		<xs:annotation>
			<xs:documentation>Спецификация компонента услуги</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="catalogId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>идентификатор каталога, по которому указывается идентификатор спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="specId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Спецификация сервиса общая для ПАО Ростелеком</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="internalSpecId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>backward compatibility для использования в РФ до введения общего каталога для ПАО Ростелеком (specId) – уникальная ссылка на спецификацию сервиса, определяема системой Fulfillment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="externalSpecId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>backward compatibility до проработки общего каталога для ПАО Ростелеком – ссылка на спецификацию сервиса в системе-источнике заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="specVersion" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Версия спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Fault" type="tns:tFault">
		<xs:annotation>
			<xs:documentation>1.09 Общее описание ошибки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tFault">
		<xs:annotation>
			<xs:documentation>Общее описание ошибки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResultCode" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Код ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message" type="xs:string">
				<xs:annotation>
					<xs:documentation>Описание ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RTAPIRequest" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный базовый тип для структуры запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originator" type="xs:string"/>
			<xs:element name="receiver" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RTAPIResponse" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный базовый тип для структуры ответа на запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originator" type="xs:string"/>
			<xs:element name="receiver" type="xs:string"/>
			<xs:element name="orderResult" type="tns:OrderResult"/>
		</xs:sequence>
	</xs:complexType>
	<!--equipment.xsd	version="1.02-->
	<xs:complexType name="EquipmentInfo">
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="typeName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Справочник категорий оборудования. Пример значений см. attr:EquipmentCategory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="centralOfficeId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="availableCapacity" type="xs:long" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extraCapacity" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hasProjectFiberLink" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="commissioningDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="resolution" type="attr:CapabilityResolution" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Справочник резолюций ПТВ оборудования. Пример значений см. attr:CapabilityResolution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="attributes" type="attr:Attributes" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="EquipmentCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPTICAL_MUFF"/>
			<xs:enumeration value="OPTICAL_BOX"/>
			<xs:enumeration value="OPTICAL_CROSS"/>
			<xs:enumeration value="OPTICAL_CASE"/>
			<xs:enumeration value="SPLITTER"/>
			<xs:enumeration value="CABLE_RESERVE"/>
			<xs:enumeration value="CABLE_TRANSIT"/>
			<xs:enumeration value="ACTIVE_EQUIPMENT"/>
			<xs:enumeration value="KRT"/>
			<xs:enumeration value="CASE"/>
			<xs:enumeration value="CROSS"/>
			<xs:enumeration value="PP"/>
			<xs:enumeration value="BASE_STATION"/>
			<xs:enumeration value="RACK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CapabilityResolution">
		<xs:restriction base="xs:string">
			<xs:enumeration value="READY"/>
			<xs:enumeration value="CHECK"/>
			<xs:enumeration value="UNAVAILABLE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>