src/main/resources/Templates/24.WSDL_OMS_submitOrder/24.BO_301._URAL.LIRA_.submitOrderRequest.MessageXSD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.15">
	<xs:element name="submitOrderRequest" type="SubmitOrderRequest"/>
	<!-- Начать выполнение заказа -->
	<xs:complexType name="SubmitOrderRequest">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - источник заказа -->
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Система - адресат заказа -->
			<xs:element name="callbackEndpoint" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- callback URL для отправки нотификации по статусам и результата выполнения -->
			<xs:element name="mode" type="OrderMode" minOccurs="0" maxOccurs="1"/>
			<!-- Режим обработки (синхронный, асинхронный) -->
			<xs:element name="requestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!--  Идентификатор транзакции на вызывающей стороне -->
			<xs:element name="order" type="SubmitRequestOrder" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:simpleType name="OrderAction"> 
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUBMIT"/> 
			<xs:enumeration value="CANCEL"/> 
			<xs:enumeration value="QUERY"/> 
		</xs:restriction>
	</xs:simpleType> -->
	<!-- 1.10 Удалено -->
	<xs:simpleType name="OrderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHECK"/>
			<xs:enumeration value="PREBUILD"/>
			<xs:enumeration value="ESTIMATE"/>
			<xs:enumeration value="INVEST"/>
			<xs:enumeration value="BUILD"/>
			<xs:enumeration value="PROVIDE"/>
			<xs:enumeration value="ACTIVATE"/>
			<xs:enumeration value="COMMIT"/>
			<!-- Проверка технической возможности -->
			<!-- Проработка технической возможности -->
			<!-- Пересчет ТЭО по новым доходным параметрам -->
			<!-- Запрос на выделение инвестиций -->
			<!-- Организация технической возможности -->
			<!-- Подключение -->
			<!-- Активация -->
			<!-- Завершение подключения -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubmitRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderType" type="OrderType" minOccurs="1" maxOccurs="1"/>
			<!-- Тип заказа согласно шагам бизнес-процессов управления услугами -->
			<xs:element name="orderParentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылка на родительский заказ -->
			<xs:element name="orderPriority" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<!-- Приоритет обработки заказа -->
			<xs:element name="orderCategory" type="OrderCategory" minOccurs="0" maxOccurs="1"/>
			<!-- Категория заказа по сегменту рынка -->
			<xs:element name="orderChannel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Канал продаж -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Дата обращения клиента по коммерческому заказу -->
			<xs:element name="orderRequestedStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата начала обработки заказа -->
			<xs:element name="orderRequiredDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата исполнения заказа. Интерпретация параметра определяется бизнес-требованиями. -->
			<xs:element name="orderComments" type="Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к заказу -->
			<xs:element name="orderLocation" type="Location" minOccurs="0" maxOccurs="1"/>
			<!-- Адресная характеристика заказа -->
			<xs:element name="orderParties" type="OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="RequestOrderItems" minOccurs="1" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
			<xs:element name="orderAppointmentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор наряда WFM для визита к клиенту -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="SubmitResponseOrder">
		<xs:choice>
			<xs:element name="response" type="SyncSubmitResponseOrder" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acknowledgement" type="AsyncSubmitResponseOrder" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SyncSubmitResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderState" type="OrderState" minOccurs="1" maxOccurs="1"/>
			<!-- Статус заказа -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
			<xs:element name="orderItems" type="ResponseOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
			<!-- 1.10 optional -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AsyncSubmitResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения обработки заказа -->
			<xs:element name="orderState" type="OrderState" minOccurs="1" maxOccurs="1"/>
			<!-- 1.11 Статус заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CancelRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderCategory" type="OrderCategory" minOccurs="0" maxOccurs="1"/>
			<!-- Категория заказа по сегменту рынка -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderParties" type="OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CancelResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderState" type="OrderState" minOccurs="0" maxOccurs="1"/>
			<!-- Статус заказа -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="AmendmentCode">
		<xs:annotation>
			<xs:documentation>Тип изменения к исполняемому заказу</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDERITEMS">
				<xs:annotation>
					<xs:documentation>Изменения в составе и параметрах компонентов заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORDERATTRIBUTES">
				<xs:annotation>
					<xs:documentation>Изменения в параметрах заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GATEPASSED">
				<xs:annotation>
					<xs:documentation>Внешний процесс прошел точку синхронизации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderCategory" type="OrderCategory" minOccurs="0" maxOccurs="1"/>
			<!-- Категория заказа по сегменту рынка -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderComments" type="Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к заказу -->
			<xs:element name="orderParties" type="OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="code" type="AmendmentCode" minOccurs="1" maxOccurs="1"/>
			<!-- Код типа изменения к заказу -->
			<xs:element name="gateName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Кодовое имя пройденной точки синхронизации (в случае code=GATEPASSED) -->
			<xs:element name="orderItems" type="RequestOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="AmendResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryRequestOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderCategory" type="OrderCategory" minOccurs="0" maxOccurs="1"/>
			<!-- Категория заказа по сегменту рынка -->
			<xs:element name="branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код макрорегионального филиала -->
			<xs:element name="affiliate" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Код регионального филиала -->
			<xs:element name="orderParties" type="OrderParties" minOccurs="0" maxOccurs="1"/>
			<!-- Список объектов заказа -->
			<xs:element name="orderItems" type="QueryOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryResponseOrder">
		<xs:all>
			<xs:element name="orderId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Номер заказа в системе-источнике -->
			<xs:element name="orderOMSId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Уникальный номер заказа сгенерированный в системе управления заказами -->
			<xs:element name="orderOMSurl" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- ССылка на заказ в системе управления заказами -->
			<xs:element name="orderAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты заказа -->
			<xs:element name="orderState" type="OrderState" minOccurs="0" maxOccurs="1"/>
			<!-- Статус заказа -->
			<xs:element name="orderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата начала обработки заказа -->
			<xs:element name="orderCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическая дата завершения обработки заказа -->
			<xs:element name="orderExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения обработки заказа -->
			<xs:element name="orderNotifications" type="OrderNotifications" minOccurs="0" maxOccurs="1"/>
			<!-- Оповещения по статусу заказа -->
			<xs:element name="orderItems" type="ResponseOrderItems" minOccurs="0" maxOccurs="1"/>
			<!-- Список компонентов заказа -->
			<xs:element name="orderTasks" type="ResponseOrderTasks" minOccurs="0" maxOccurs="1"/>
			<!-- Список задач заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RequestOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="RequestOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemAction" type="OrderItemAction" minOccurs="1" maxOccurs="1"/>
			<!-- Требуемое действие над компонентом в рамках выполнения заказа -->
			<xs:element name="orderItemCategory" type="OrderItemCategory" minOccurs="1" maxOccurs="1"/>
			<!-- Категория компонента заказа -->
			<xs:element name="orderItemParentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылка на orderItemId родительского компонента -->
			<xs:element name="orderItemParentInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Ссылка на orderItemInstanceId родительского компонента -->
			<xs:element name="orderItemPriority" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<!-- Приоритет обработки компонента в рамках выполнения заказа -->
			<xs:element name="orderItemRequiredDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Желаемая дата исполнения действия над компонентом. Интерпретация параметра определяется бизнес-требованиями. -->
			<xs:element name="orderItemSpecification" type="OrderItemSpecification" minOccurs="0" maxOccurs="1"/>
			<!-- Спецификация компонента заказа -->
			<xs:element name="orderItemLocation" type="Location" minOccurs="0" maxOccurs="1"/>
			<!-- Адресная характеристика компонента заказа -->
			<xs:element name="orderItemComments" type="Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к компоненту заказа -->
			<xs:element name="orderItemReservationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор брони линейных данных в СЛТУ -->
			<xs:element name="orderItemAttributes" type="InheritableAttributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты компонента заказа -->
			<xs:element name="orderItemBillingInfo" type="OrderItemBillingInfo" minOccurs="0" maxOccurs="1"/>
			<!-- Биллинговая информация по компоненту заказа -->
			<xs:element name="orderItemAppointmentId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор наряда WFM для визита к клиенту, в рамках которого выполняется инсталляция услуги -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="QueryOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemCategory" type="OrderItemCategory" minOccurs="1" maxOccurs="1"/>
			<!-- Категория компонента заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ResponseOrderItems">
		<xs:sequence>
			<xs:element name="orderItem" type="ResponseOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseOrderItem">
		<xs:all>
			<xs:element name="orderItemId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор компонента (услуги) в системе-источнике заказа - из исходного заказа -->
			<xs:element name="orderItemInstanceId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор, генерируемый системами уровня OSS для регистрации компонента (CFS_ID, RFS_ID) -->
			<xs:element name="orderItemState" type="OrderItemState" minOccurs="0" maxOccurs="1"/>
			<!-- Статус выполнения действия над компонентом заказа -->
			<xs:element name="orderItemSpecification" type="OrderItemSpecification" minOccurs="0" maxOccurs="1"/>
			<!-- Спецификация компонента заказа -->
			<xs:element name="orderItemAttributes" type="InheritableAttributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты компонента заказа -->
			<xs:element name="orderItemAction" type="OrderItemAction" minOccurs="0" maxOccurs="1"/>
			<!-- Требуемое действие над компонентом в рамках выполнения заказа -->
			<xs:element name="orderItemResult" type="OrderItemResult" minOccurs="0" maxOccurs="1"/>
			<!-- Результат выполнения действия над компонентом заказа -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderItemBillingInfo" mixed="true">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Информация для биллинга. Допускается использование сложных типов (xml со своей схемой) -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseOrderTasks">
		<xs:sequence>
			<xs:element name="orderTask" type="ResponseOrderTask" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderTaskState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PLANNED"/>
			<xs:enumeration value="INPROGRESS"/>
			<xs:enumeration value="PENDING"/>
			<xs:enumeration value="COMPLETED"/>
			<xs:enumeration value="CANCELLED"/>
			<xs:enumeration value="ONHOLD"/>
			<!-- Задание создано, но выполнение задания не начато -->
			<!-- Задание выполняется -->
			<!-- Задание в ожидании внешнего события -->
			<!-- Задание выполнено -->
			<!-- Задание отменено -->
			<!-- Задание остановлено из-за ошибки и находится в ожидании решения проблемы -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResponseOrderTask">
		<xs:all>
			<xs:element name="orderTaskId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Идентификатор задания -->
			<xs:element name="orderTaskName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- Название задания -->
			<xs:element name="orderTaskGroupName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- Название группы заданий -->
			<xs:element name="orderTaskStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическое время начала выполнения задания -->
			<xs:element name="orderTaskCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Фактическое время завершения выполнения задания -->
			<xs:element name="orderTaskExpectedStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата начала выполнения задания -->
			<xs:element name="orderTaskExpectedCompletionDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<!-- Ожидаемая дата завершения выполнения задания -->
			<xs:element name="orderTaskState" type="OrderTaskState" minOccurs="1" maxOccurs="1"/>
			<!-- Статус выполнения задачи заказа -->
			<xs:element name="orderTaskComments" type="Comments" minOccurs="0" maxOccurs="1"/>
			<!-- Комментарии к выполнению задачи заказа -->
			<xs:element name="orderTaskAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
			<!-- Атрибуты задачи заказа -->
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="OrderMode">
		<xs:annotation>
			<xs:documentation>Режим взаимодействия с системой-источником запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASYNC">
				<xs:annotation>
					<xs:documentation>Асинхронный режим обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SYNC">
				<xs:annotation>
					<xs:documentation>Синхронный режим обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderCategory">
		<xs:annotation>
			<xs:documentation>Категория запроса по маркетинговому сегменту</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="B2C"/>
			<xs:enumeration value="KKFU"/>
			<xs:enumeration value="KKMU"/>
			<xs:enumeration value="KKRU"/>
			<xs:enumeration value="B2G"/>
			<xs:enumeration value="B2O"/>
			<xs:enumeration value="B2B">
				<xs:annotation>
					<xs:documentation>Корпоративный сегмент без детализации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXTENSION">
				<xs:annotation>
					<xs:documentation>Технологический заказ (развитие)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderState">
		<xs:annotation>
			<xs:documentation>Статус выполнения запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RECEIVED">
				<xs:annotation>
					<xs:documentation>Заказ получен, обработка не начата</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACKNOWLEDGED">
				<xs:annotation>
					<xs:documentation>Заказ получен, форматная проверка заказа проведена</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REJECTED">
				<xs:annotation>
					<xs:documentation>Заказ отвергнут по причине ошибок валидации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INPROGRESS">
				<xs:annotation>
					<xs:documentation>Заказ корректен и находится на выполнении</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMENDING">
				<xs:annotation>
					<xs:documentation>Получен запрос на изменение заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLING">
				<xs:annotation>
					<xs:documentation>Получен запрос на отмену заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLED">
				<xs:annotation>
					<xs:documentation>Заказ отменен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMPLETED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа успешно завершено, все компоненты заказа обработаны успешно</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAILED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа завершено неуспешно</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTIAL">
				<xs:annotation>
					<xs:documentation>Выполнение заказа завершено с успешной обработкой части заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POSTPONED">
				<xs:annotation>
					<xs:documentation>Выполнение заказа приостановлено до получения сигнала о продолжении обработки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttributeStatus">
		<xs:annotation>
			<xs:documentation>Статус атрибута</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>Активное значение атрибута</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CE">
				<xs:annotation>
					<xs:documentation>Предыдущее (неактивное) значение атрибута</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Attributes">
		<xs:annotation>
			<xs:documentation>Список дополнительных атрибутов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attribute" mixed="true">
		<xs:annotation>
			<xs:documentation>Атрибут</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Значение атрибута. Допускается использование сложных типов (xml со своей схемой, см. файл attributes.xsd)</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Имя атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="AttributeStatus">
			<xs:annotation>
				<xs:documentation>Статус атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isChanged" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Признак изменения атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Comments">
		<xs:annotation>
			<xs:documentation>Список комментариев к запросу</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Комментарии к заказу. Допускается использование сложных типов (xml со своей схемой), либо элементы типа tns:Comment</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comment">
		<xs:annotation>
			<xs:documentation>Комментарий</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="date" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commenter" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Комментатор</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текст комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип комментария</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="LocationCategory">
		<xs:annotation>
			<xs:documentation>Категория, определяющая набор атрибутов, описывающих адрес/местоположение</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="STRICT">
				<xs:annotation>
					<xs:documentation>Точный адрес</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GEO">
				<xs:annotation>
					<xs:documentation>Точные координаты адреса с указанием адресного элемента ориентира</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LANDMARK">
				<xs:annotation>
					<xs:documentation>Адресный элемент ориентира с указанием навигации до точного адреса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationRegister">
		<xs:annotation>
			<xs:documentation>Справочник справочников идентификаторов адресов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HERMES">
				<xs:annotation>
					<xs:documentation>Внутренний справочник СУС Гермес</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLADR">
				<xs:annotation>
					<xs:documentation>КЛАДР</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GID">
				<xs:annotation>
					<xs:documentation>ОРПОН</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NW_BIS_AIR">
				<xs:annotation>
					<xs:documentation>Справочник BIS в МРФ Северо-Запад</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vlg">
				<xs:annotation>
					<xs:documentation>Справочник в МРФ Волга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>Местоположение (адресная характеристика)</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="locationId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификатор адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationCategory" type="LocationCategory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Категория адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationRegister" type="LocationRegister" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Справочник идентификаторов адресного элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationAttributes" type="Attributes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Атрибуты адресного элемента (улица, дом, строение, этаж, квартира и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderParties">
		<xs:annotation>
			<xs:documentation>Список связанных объектов, характеризующих запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="orderParty" type="Party">
					<xs:annotation>
						<xs:documentation>Объекты, связанные с заказом.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="orderAttachment" type="Attachment">
					<xs:annotation>
						<xs:documentation>Вложения, связанные с заказом.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PartyRole">
		<xs:annotation>
			<xs:documentation>Категория объекта, переданного с запросом</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLIENT">
				<xs:annotation>
					<xs:documentation>Клиент</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INITIATOR">
				<xs:annotation>
					<xs:documentation>Оператор системы-источника запроса, инициатор запроса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SALES">
				<xs:annotation>
					<xs:documentation>Менеджер отдела продаж, инициатор продажи</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACCOUNT">
				<xs:annotation>
					<xs:documentation>Счет клиента</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONTACT">
				<xs:annotation>
					<xs:documentation>Контактная информация</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WORKER">
				<xs:annotation>
					<xs:documentation>Исполнитель работ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KZ">
				<xs:annotation>
					<xs:documentation>Клиентская заявка в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KP">
				<xs:annotation>
					<xs:documentation>Клиентский проект в СУС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOLUTION">
				<xs:annotation>
					<xs:documentation>Техническое решение в СЛТУ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESERVATION">
				<xs:annotation>
					<xs:documentation>Нобер брони линейных данных в СЛТУ под техническое решение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Связанный объект, дополняющий запрос</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="partyRole" type="PartyRole" minOccurs="1" maxOccurs="1"/>
			<xs:element name="partyId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="partyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="partyAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Attachment">
		<xs:annotation>
			<xs:documentation>Объект вложений, дополняющий запрос</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="attachmentType" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип вложения из справочника мастер-системы управления вложением</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата загрузки вложения в систему управления вложениями</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Автор вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ссылка на SFTP-сервер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="header" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Заголовок вложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование файла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileExtension" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Result">
		<xs:all>
			<xs:element name="resultCode" type="xs:long" minOccurs="1" maxOccurs="1"/>
			<xs:element name="resultText" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="NotificationResponse">
		<xs:sequence>
			<xs:element name="originator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Система - источник результатов обработки запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiver" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Система - адресат результатов обработки запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="Result" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderNotifications">
		<xs:annotation>
			<xs:documentation>Список оповещений по выполнению запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderNotification" type="OrderNotification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderNotification">
		<xs:annotation>
			<xs:documentation>Оповещение по выполнению запроса</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="notificationTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationText" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationAttributes" type="Attributes" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderResult">
		<xs:annotation>
			<xs:documentation>Результат выполнения запроса</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="orderResultCode" type="xs:long" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код результата обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderResultText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание результата обработки заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="OrderItemAction">
		<xs:annotation>
			<xs:documentation>Действие над компонентом заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE">
				<xs:annotation>
					<xs:documentation>Создание</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHANGE">
				<xs:annotation>
					<xs:documentation>Изменение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CEASE">
				<xs:annotation>
					<xs:documentation>Отключение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUERY">
				<xs:annotation>
					<xs:documentation>Запрос статуса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUSPEND">
				<xs:annotation>
					<xs:documentation>Добровольная блокировка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESUME">
				<xs:annotation>
					<xs:documentation>Добровольная разблокировка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
					<xs:documentation>Действие не производится - компонент представлен для информационных целей</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REMOVE">
				<xs:annotation>
					<xs:documentation>Исключение компонента из заказа для операции изменения заказа</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOVE">
				<xs:annotation>
					<xs:documentation>Перенос зависимого компонента на другой родительский компонент (при переезде, смене технологии и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FINBLOCK">
				<xs:annotation>
					<xs:documentation>Установка финансовой блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FINUNBLOCK">
				<xs:annotation>
					<xs:documentation>Снятие финансовой блокировки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderItemCategory">
		<xs:annotation>
			<xs:documentation>Категория компонента заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Product">
				<xs:annotation>
					<xs:documentation>Комплексная услуга, предоставляемая клиенту</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CFS">
				<xs:annotation>
					<xs:documentation>Атомарная услуга, предоставляемая клиенту</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRFS">
				<xs:annotation>
					<xs:documentation>Композитная ресурсная услуга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RFS">
				<xs:annotation>
					<xs:documentation>Ресурсная услуга</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderItemState">
		<xs:annotation>
			<xs:documentation>Статус выполнения действия над компонентом в рамках выполнения заказа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INPROGRESS">
				<xs:annotation>
					<xs:documentation>Компонент в процессе обработки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PENDING">
				<xs:annotation>
					<xs:documentation>Компонент в ожидании внешнего события</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COMPLETED">
				<xs:annotation>
					<xs:documentation>Компонент успешно обработан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLED">
				<xs:annotation>
					<xs:documentation>Компонент отменен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ONHOLD">
				<xs:annotation>
					<xs:documentation>Компонент остановлен из-за ошибки и находится в ожидании решения проблемы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InheritableAttributes">
		<xs:annotation>
			<xs:documentation>Список атрибутов, имеющих признак наследования по иерархии компонентов заказа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attribute" type="InheritableAttribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InheritableAttribute" mixed="true">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Значение атрибута. Допускается использование сложных типов (xml со своей схемой)</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Имя атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="AttributeStatus">
			<xs:annotation>
				<xs:documentation>Статус атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isChanged" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Признак изменения атрибута</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isInheritable" type="xs:string">
			<xs:annotation>
				<xs:documentation>Признак наследования значения атрибута дочерними компонентами заказа по отношению oredrItemParentId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrderItemResult">
		<xs:annotation>
			<xs:documentation>Результат выполнения действия над компонентом заказа</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="orderItemResultCode" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Код результата обработки компонента заказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderItemResultText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание результата обработки компонента заказ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="OrderItemSpecification">
		<xs:annotation>
			<xs:documentation>Спецификация компонента услуги</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="catalogId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>идентификатор каталога, по которому указывается идентификатор спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="specId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Спецификация сервиса общая для ПАО Ростелеком</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="internalSpecId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>backward compatibility для использования в РФ до введения общего каталога для ПАО Ростелеком (specId) – уникальная ссылка на спецификацию сервиса, определяема системой Fulfillment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="externalSpecId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>backward compatibility до проработки общего каталога для ПАО Ростелеком – ссылка на спецификацию сервиса в системе-источнике заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="specVersion" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Версия спецификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Текстовое описание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RTAPIRequest" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный базовый тип для структуры запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originator" type="xs:string"/>
			<xs:element name="receiver" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RTAPIResponse" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный базовый тип для структуры ответа на запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originator" type="xs:string"/>
			<xs:element name="receiver" type="xs:string"/>
			<xs:element name="orderResult" type="OrderResult"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>